<div class="container">
  <h1>File Upload</h1>

  <form action="" [formGroup]="formulario" novalidate (ngSubmit)="onUpload()">
    <div class="row">
      <div class="col-25">
        <label for="title">Title of the picture</label>
      </div>
      <div class="col-75">
        <input class="form-control" type="text" placeholder="Title here" formControlName="title" style="width: 50%">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="description">Description</label>
      </div>
      <div class="col-75">
        <textarea class="form-control" id="description" name="description" formControlName="description"
          placeholder="Describe your picture" style="height: 200px; width: 50%;"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label id="customFileLable" for="url">Upload your picture here</label>
      </div>
      <div class="col-75">
        <input #myInput class="form-control" style="width: 478px;" type="file" id="url"
          (change)="onFileSelected($event)" placeholder="Select your picture">
      </div>
    </div>
    <br>
    <div style="margin-top: 10px; height: 30px; margin-left: 330px">
      <button class="btn btn-primary" style="margin-top: -30px" [disabled]="formulario.invalid"
        type="submit">Submit</button>
      <div *ngIf="showMsg">
        <p class="alert alert-success">
          <strong>Upload completed!</strong>
        </p>
      </div>


    </div>
  </form>
</div>
