<div class="container">
  <header>
    <mat-card-title style="position: relative; font-size: 24px;">
      <div class=" trashcss">
        <i (click)="deletePhoto(pet.id)" title="Delete image?" class="far fa-trash-alt fa-1x" style="margin-left: 35px;"
          translate></i>
      </div>
    </mat-card-title>
  </header>
  <div class="row">
    <div class="col-6 photoconfig">
      <img [src]="photoURL" alt="Photo">
    </div>
    <div class="col-6 descriptioncss">
      <p class="text-warning" style="margin-bottom: 0vh" translate>Title</p>
      <div class="title-config">{{pet.title}}</div>
      <p class="text-warning" translate>Description</p>
      <div>
        <p class="description-content">
          {{pet.description}}
        </p>
      </div>

    </div>
    <mat-dialog-actions>
      <div class="heartcss">
        <i [ngClass]="likeLength === 0 ? 'far fa-heart fa-2x' : 'fas fa-heart fa-2x'" class="far" style="margin: 13px"
          title="Like image?" (click)="liked()" translate>
        </i>
      </div>
      <div class="like-config">
        <h6>{{likeLength}} likes</h6>
      </div>
      <div style="margin-left: 245px">

      </div>
      <div class="posted-by-css">
        <p translate> Posted by {{postedBy}}</p>
      </div>
    </mat-dialog-actions>
  </div>


</div>
